@tailwind base;
@tailwind components;
@tailwind utilities;

/* these dont really work, idk */

@layer components {
  /*Sidebar*/
  .sidebar-options {
    @apply flex
                    w-full
                    items-center 
                    justify-center 
                    pt-5 pb-5
                     text-center 
                     text-zinc-50 
                    hover:bg-purple-800;
  }

  .sidebar-text {
    @apply hidden 
                    w-[50%] 
                    md:block;
  }

  /*main navbar*/
  .navbar-options {
    @apply m-2
                    flex 
                    h-[100%]
                    w-[90%]
                    items-center
                    justify-center
                    rounded-2xl 
                    text-center;
  }

  .link {
    @apply h-[80%]
                    w-[25%];
  }

  .main-sidebar-text {
    @apply hidden 
                    w-[60%] 
                    text-xl
                    text-white
                    md:block;
  }

  .Button-options {
    @apply m-5
                    mt-16 
                    flex
                    h-[35%]
                    w-[100%]
                    items-center
                    justify-center 
                    rounded-2xl 
                    text-center;
  }

  .bookInput {
    @apply m-5
                  w-[42%]
                  rounded-xl
                  p-[1%];
  }

  .SignIn-div {
    @apply mb-6
           flex
           items-center
          border-2
            border-r-0
          border-l-0
            border-t-0
            border-white
            bg-transparent
            pb-2
            text-white;
  }
}
